#brand-name , #navbtn{
    color: #710117;
}
.navitems {
    color: #710117;
}
.navitems:hover{
    background-color: #ECD5BB;
}
.search-input .searchbar::placeholder{
   color: #710117;
}
.searchbar:focus{
    outline: none;
    border: 2px solid;
    border-color: #710117;
}
.search-input .search-pic{
    color: #710117
}
.cart-icon{
    color: #710117;
}
.nav-cart:hover{
    background-color: #ECD5BB;
}
.login-btn{
    background-color: #710117;
    color: #ECD5BB;
}
.login-btn:hover{
    background-color: #570213;
    color: #c0ad98;
}

