.login-page{
    background-color: #FDE5C3;
}
.login-back{
    background-color: #F9F3E6;
}

.login-head, .checkout{
    color: #7A1625;
}
.login-input , .check-input{
    background-color: #FAF8F3;
    border-bottom: #C4A484;
    color: #7A1625;
}
.login-sub{
    color: #7C7367;
}
.errmsg{
    color:  #D32F2F;
}
.shoeimg{
    background-color: #ecd5bb;
}
.products-image {
    transition: transform 0.3s ease-in-out;
}

.products-image:hover {
    transform: scale(1.1);
}
.product-btn, .check-btn{
    color: #ecd5bb;
    background-color: #8c021e;
}
.head-product, .check-head{
    color: #710117;
}
.product-btn:hover{
    background-color:#710117 ;
}
.checkout-bgd{
    background-color: #fff5e6;
}
.check-bgd{
    background-color: #FAF8F3;
}
.sidenav{
    background-color: #5B2333;
}
.sidebar:hover{
    background-color: #8B3A4F;
}

