.login-page{
    /* background-image: url('/background1.png');
    background-size: cover;
    background-position: center; */
    background-color: #FDE5C3;
}
.login-back{
    background-color: #F9F3E6;
}

.login-head{
    color: #7A1625;
}
.login-input{
    background-color: #FAF8F3;
    border-bottom: #C4A484;
    color: #7A1625;
}
.login-sub{
    color: #7C7367;
}
.errmsg{
    color:  #D32F2F;
}
.shoeimg{
    background-color: #ecd5bb;
}
.product-image {
    transition: transform 0.3s ease-in-out;
}

.product-image:hover {
    transform: scale(1.1);
}
.product-btn{
    color: #ecd5bb;
    background-color: #8c021e;
}
.head-product{
    color: #710117;
}
.product-btn:hover{
    background-color:#710117 ;
}

